<section class="min-h-screen bg-second-color px-4 py-8 sm:py-12 lg:flex lg:items-center relative">

    <div class="container 2xl:w-6xl z-99">
        <div class="flex w-full flex-col items-center gap-6 sm:gap-8 lg:flex-row lg:items-center lg:justify-between">
            <div class="order-2 w-full max-w-3xl text-center lg:order-1 lg:text-left">
                <div class="flex  justify-center  items-center gap-1">
                    <div>
                        <h1
                            class="hidden text-5xl font-extrabold tracking-tight  bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-blue-400 sm:text-6xl lg:block mb-[30px]">
                            Togetherly
                        </h1>
                        <p class="hidden md:block text-sm md:text-2xl md:max-w-[75%]">Explore the things <span
                                class="text-blue-500">
                                you love .</span>
                        </p>
                    </div>

                    <div class="hidden md:block">
                        <img src="/images/signup.png" alt="">

                    </div>
                </div>

            </div>

            <div class="order-1 w-full max-w-107.5 lg:order-2">
                <div class="rounded-2xl bg-white p-4 sm:p-6">
                    <div class="mb-5 grid grid-cols-2 rounded-xl bg-slate-100 p-1">
                        <button routerLink="/login" routerLinkActive="rounded-lg shadow-sm bg-white text-main-color"
                            class="py-2 text-sm font-extrabold transition cursor-pointer">
                            Login
                        </button>
                        <button routerLink="/register" routerLinkActive="rounded-lg shadow-sm bg-white text-main-color"
                            class="py-2 text-sm font-extrabold transition cursor-pointer">
                            Register
                        </button>
                    </div>

                    <h2 class="text-2xl font-extrabold text-slate-900">Create a new account</h2>
                    <p class="mt-1 text-sm text-slate-500">It is quick and easy.</p>

                    <form class="mt-5 space-y-3.5" [formGroup]="registerForm" (ngSubmit)="submitForm()">
                        <div>
                            <div class="relative">
                                <span
                                    class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 text-slate-400">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-user" aria-hidden="true">
                                        <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                                        <circle cx="12" cy="7" r="4"></circle>
                                    </svg>
                                </span>
                                <input
                                    [class]="registerForm.get('name')?.invalid && registerForm.get('name')?.touched ? 'border-rose-500' : 'border-slate-200'"
                                    class="w-full rounded-xl border bg-slate-50 py-3 ps-11 pe-4 text-sm text-slate-800 outline-none transition focus:bg-white  focus:ring-0 "
                                    type="text" placeholder="Email or username" name="name" formControlName="name" />
                            </div>
                            <!---Error Alert-->
                            @let nameControl=registerForm.get('name');
                            @if(nameControl?.invalid && nameControl?.touched){
                            <p class="mt-1 font-semibold text-rose-600">
                                @if(nameControl?.hasError('required')){
                                <span class="block">Name is required</span>
                                }
                                @else if(nameControl?.hasError('minlength')) {
                                <span class="block">Name must be at least 3 characters</span>
                                }

                            </p>
                            }


                        </div>
                        <div>
                            <div class="relative">
                                <span
                                    class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 text-slate-400">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-at-sign" aria-hidden="true">
                                        <circle cx="12" cy="12" r="4"></circle>
                                        <path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-4 8"></path>
                                    </svg>
                                </span>
                                <input
                                    class="w-full rounded-xl border bg-slate-50 py-3 ps-11 pe-4 text-sm text-slate-800 outline-none transition focus:bg-white  focus:ring-0 "
                                    type="text" placeholder="Username (optional)" name="username"
                                    formControlName="username" />
                            </div>

                        </div>
                        <div>
                            <div class="relative">
                                <span
                                    class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 text-slate-400">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-at-sign" aria-hidden="true">
                                        <circle cx="12" cy="12" r="4"></circle>
                                        <path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-4 8"></path>
                                    </svg>
                                </span>
                                <input
                                    [class]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched ? 'border-rose-500' : 'border-slate-200'"
                                    class="w-full rounded-xl border bg-slate-50 py-3 ps-11 pe-4 text-sm text-slate-800 outline-none transition focus:bg-white   focus:ring-0 "
                                    type="email" placeholder="Email address" name="email" formControlName="email" />
                            </div>
                            <!---Error Alert-->
                            @let emailControl=registerForm.get('email');
                            @if (emailControl?.invalid && emailControl?.touched) {
                            <p class="mt-1 font-semibold text-rose-600">

                                @if(emailControl?.hasError('required')){
                                <span class="block">Email is required</span>
                                }
                                @else if (emailControl?.hasError('email')) {
                                <span class="block">Please enter valid email</span>
                                }



                            </p>
                            }
                        </div>
                        <div>
                            <div class="relative">
                                <span
                                    class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 text-slate-400">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-user" aria-hidden="true">
                                        <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
                                        <path d="M16 3.128a4 4 0 0 1 0 7.744"></path>
                                        <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
                                        <circle cx="9" cy="7" r="4"></circle>
                                    </svg>
                                </span>

                                <select name="gender"
                                    [class]="registerForm.get('gender')?.invalid && registerForm.get('gender')?.touched ? 'border-rose-500' : 'border-slate-200'"
                                    class="w-full rounded-xl border bg-slate-50 py-3 pl-11 pr-4 text-sm text-slate-800 outline-none transition focus:bg-white  "
                                    formControlName="gender">
                                    <option selected disabled hidden value="">Select gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                                @if(registerForm.get('gender')?.invalid && registerForm.get('gender')?.touched ){
                                <p class="mt-1 font-semibold text-rose-600">

                                    @if(registerForm.get('gender')?.hasError('required')){
                                    <span class="block">Gender is required</span>
                                    }




                                </p>
                                }
                            </div>
                        </div>

                        <div>
                            <div class="relative">
                                <span
                                    class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 text-slate-400">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-calendar" aria-hidden="true">
                                        <path d="M8 2v4"></path>
                                        <path d="M16 2v4"></path>
                                        <rect width="18" height="18" x="3" y="4" rx="2"></rect>
                                        <path d="M3 10h18"></path>
                                    </svg>
                                </span>
                                <input
                                    [class]="registerForm.get('dateOfBirth')?.invalid && registerForm.get('dateOfBirth')?.touched ? 'border-rose-500' : 'border-slate-200'"
                                    class="w-full rounded-xl border bg-slate-50 py-3 ps-11 pe-4 text-sm text-slate-800 outline-none transition focus:bg-white  focus:ring-0 "
                                    type="date" placeholder="Date of birth" name="dateOfBirth"
                                    formControlName="dateOfBirth" />
                            </div>
                            <!---Error-->
                            @if (registerForm.get('dateOfBirth')?.invalid && registerForm.get('dateOfBirth')?.touched) {
                            <p class="mt-1 font-semibold text-rose-600">
                                @if(registerForm.get('dateOfBirth')?.hasError('required')){
                                <span class="block">DoB is required</span>
                                }

                            </p>
                            }
                        </div>


                        <div>
                            <div class="relative">
                                <span
                                    class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 text-slate-400">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-key-round" aria-hidden="true">
                                        <path
                                            d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z">
                                        </path>
                                        <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
                                    </svg>
                                </span>
                                <input
                                    [class]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched ? 'border-rose-500' : 'border-slate-200'"
                                    class="w-full rounded-xl border bg-slate-50 py-3 ps-11 pe-4 text-sm text-slate-800 outline-none transition focus:bg-white  focus:ring-0  "
                                    type="password" placeholder="Password" name="password" formControlName="password" />
                            </div>
                            <!---Error Alert-->
                            @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
                            <p class="mt-1 font-semibold text-rose-600">
                                @if(registerForm.get('password')?.hasError('required')){
                                <span class="block">Password is required</span>

                                }
                                @else if ( registerForm.get('password')?.hasError('pattern') ) {
                                <span class="block">Password must match the pattern</span>
                                }

                            </p>
                            }
                        </div>

                        <div>
                            <div class="relative">
                                <span
                                    class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 text-slate-400">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-key-round" aria-hidden="true">
                                        <path
                                            d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z">
                                        </path>
                                        <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
                                    </svg>
                                </span>
                                <input
                                    [class]="registerForm.get('rePassword')?.invalid && registerForm.get('rePassword')?.touched ? 'border-rose-500' : 'border-slate-200'"
                                    class="w-full rounded-xl border bg-slate-50 py-3 ps-11 pe-4 text-sm text-slate-800 outline-none transition focus:bg-white  focus:ring-0"
                                    type="password" placeholder="Confirm password" name="rePassword"
                                    formControlName="rePassword" />
                            </div>
                            <!---Error Alert-->
                            @if (registerForm.get('rePassword')?.invalid && registerForm.get('rePassword')?.touched) {
                            <p class="mt-1 font-semibold text-rose-600">
                                @if(registerForm.get('rePassword')?.hasError('required')){
                                <span class="block">RePassword is required</span>
                                }
                                @else if (registerForm.get('rePassword')?.hasError('mismatch') ) {
                                <span class="block">RePassword must match the password</span>
                                }
                            </p>
                            }
                        </div>

                        <button
                            class="w-full rounded-xl py-3 text-base font-extrabold text-white transition disabled:opacity-60 bg-main-color hover:bg-main-color disabled:cursor-not-allowed"
                            (click)="submitForm()">
                            Create New Account
                            @if(loading){
                            <i class="fa-solid fa-spinner animate-spin"></i>
                            }

                        </button>
                        @if(errorMsg ){
                        <p class="mt-1 font-semibold text-rose-600 border bg-rose-100 px-4 py-1.5 rounded-xl">

                            {{errorMsg}}


                        </p>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>