<nav class="bg-neutral-primary fixed w-full z-20 top-0 start-0 border-b border-default">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2">
        <a class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="/assets/images/togetherly_icon.png" class=" w-20 h-15" [alt]="'BRAND.LOGO' | translate" />
            <span class="self-center text-xl text-heading font-semibold whitespace-nowrap">{{ 'BRAND.NAME' | translate }}</span>
        </a>
        <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <app-btn-language></app-btn-language>
            <button type="button"
                class="flex text-sm bg-neutral-primary rounded-full md:me-0 focus:ring-4 focus:ring-neutral-tertiary"
                id="user-menu-button" aria-expanded="false" (click)="toggleUserMenu()">
                <span class="sr-only">{{ 'NAV.USER_MENU' | translate }}</span>
                <img class="w-8 h-8 rounded-full" [src]="userData.photo" [alt]="'PROFILE.PHOTO' | translate">
            </button>
            <!-- Dropdown menu -->
            <div class="absolute end-0 top-17 z-50  bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44"
                [class.hidden]="!showUserMenu" id="user-dropdown">
                <div class="px-4 py-3 text-sm border-b border-default">
                    <span class="block text-heading font-medium">{{userData.name}}</span>
                    <span class="block text-body truncate">{{userData.email}}</span>
                </div>
                <ul class="p-2 text-sm text-body font-medium" aria-labelledby="user-menu-button">
                    <li>
                        <a href="#"
                            class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded">{{ 'NAV.SETTINGS' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/changePassword"
                            class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded">{{ 'NAV.CHANGE_PASSWORD' | translate }}</a>
                    </li>
                    <button (click)="logout()">
                        <a
                            class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded">{{ 'NAV.LOGOUT' | translate }}</a>
                    </button>

                </ul>
            </div>
            <button type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary"
                (click)="toggleMobileMenu()">
                <span class="sr-only">{{ 'NAV.MAIN_MENU' | translate }}</span>
                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14" />
                </svg>
            </button>
        </div>
        <div class="items-center justify-between  w-full md:flex md:w-auto md:order-1" id="navbar-user"
            [class.hidden]="!showMobileMenu">
            <ul
                class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-default rounded-base bg-neutral-secondary-soft md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-neutral-primary">
                <li class="navbar-li">
                    <i class="fa-regular fa-house" style="color: #75747b;"></i>
                    <a routerLink="/feed"
                        routerLinkActive=" text-white bg-brand rounded md:bg-transparent md:text-fg-brand md:p-0"
                        class="block py-2 px-3" aria-current="page">{{ 'NAV.FEED' | translate }}</a>
                </li>
                <li class="navbar-li">
                    <i class="fa-regular fa-user" style="color: #75747b;"></i>
                    <a [routerLink]="['/profile',userData._id]"
                        routerLinkActive=" text-white bg-brand rounded md:bg-transparent md:text-fg-brand md:p-0"
                        class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent">{{ 'NAV.PROFILE' | translate }}</a>
                </li>
                <li class="navbar-li">
                    <i class="fa-regular fa-comment" style="color: #75747b;"></i>
                    <a routerLink="/notifications"
                        routerLinkActive=" text-white bg-brand rounded md:bg-transparent md:text-fg-brand md:p-0"
                        class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent">{{ 'NAV.NOTIFICATIONS' | translate }}</a>
                </li>

            </ul>
        </div>
    </div>
</nav>