<section class="min-h-screen bg-second-color px-4 py-8 sm:py-12 lg:flex lg:items-center relative">
    <div class="flex  gap-4 items-center p-2 border-2">
        <button class="bg-gray-400 ">En</button>
        <button class="bg-gray-400 ">Ar</button>
    </div>
    <div class="container 2xl:w-6xl z-99">
        <div class="flex w-full flex-col items-center gap-6 sm:gap-8 lg:flex-row lg:items-center lg:justify-between">

            <div class="order-2 w-full max-w-3xl text-center lg:order-1 lg:text-left">
                <div class="flex justify-center items-center gap-1">
                    <div>
                        <h1
                            class="hidden text-5xl font-extrabold tracking-tight bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-blue-400 sm:text-6xl lg:block mb-[30px]">
                            {{ 'BRAND.NAME' | translate }}
                        </h1>

                        <p class="hidden md:block text-sm md:text-2xl md:max-w-[75%]">
                            {{ 'BRAND.TAGLINE' | translate }}
                            <span class="text-blue-500">
                                {{ 'BRAND.TAGLINE_HIGHLIGHT' | translate }}
                            </span>
                        </p>
                    </div>

                    <div class="hidden md:block">
                        <img src="/assets/images/signup.png" alt="">
                    </div>
                </div>
            </div>

            <div class="order-1 w-full max-w-107.5 lg:order-2">
                <div class="rounded-2xl bg-white p-4 sm:p-6">

                    <div class="mb-5 grid grid-cols-2 rounded-xl bg-slate-100 p-1">
                        <button routerLink="/login" routerLinkActive="rounded-lg shadow-sm bg-white text-main-color"
                            class="py-2 text-sm font-extrabold transition cursor-pointer">
                            {{ 'AUTH.TABS.LOGIN' | translate }}
                        </button>

                        <button routerLink="/register" routerLinkActive="rounded-lg shadow-sm bg-white text-main-color"
                            class="py-2 text-sm font-extrabold transition cursor-pointer">
                            {{ 'AUTH.TABS.REGISTER' | translate }}
                        </button>
                    </div>

                    <h2 class="text-2xl font-extrabold text-slate-900">
                        {{ 'AUTH.LOGIN.TITLE' | translate }}
                    </h2>

                    <p class="mt-1 text-sm text-slate-500">
                        {{ 'AUTH.LOGIN.SUBTITLE' | translate }}
                    </p>

                    <form class="mt-5 space-y-3.5" [formGroup]="loginForm" (ngSubmit)="submitForm()">

                        <div>
                            <div class="relative">
                                <span
                                    class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 text-slate-400">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-at-sign" aria-hidden="true">

                                        <circle cx="12" cy="12" r="4"></circle>
                                        <path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-4 8"></path>
                                    </svg>
                                </span>

                                <input [class]="loginForm.get('email')?.invalid &&
                                             loginForm.get('email')?.touched
                                                ? 'border-rose-500'
                                                : 'border-slate-200'"
                                    class="w-full rounded-xl border bg-slate-50 py-3 ps-11 pe-4 text-sm text-slate-800 outline-none transition focus:bg-white focus:ring-0"
                                    type="email" [placeholder]="'AUTH.LOGIN.EMAIL_PLACEHOLDER' | translate" name="email"
                                    formControlName="email">
                            </div>

                            @let emailControl = loginForm.get('email');

                            @if (emailControl?.invalid && emailControl?.touched) {
                            <p class="mt-1 font-semibold text-rose-600">

                                @if (emailControl?.hasError('required')) {
                                <span class="block">
                                    {{ 'VALIDATION.EMAIL.REQUIRED' | translate }}
                                </span>
                                } @else if (emailControl?.hasError('email')) {
                                <span class="block">
                                    {{ 'VALIDATION.EMAIL.INVALID' | translate }}
                                </span>
                                }

                            </p>
                            }
                        </div>

                        <div>
                            <div class="relative">
                                <span
                                    class="pointer-events-none absolute left-3 top-1/2 -translate-y-1/2 text-slate-400">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-key-round" aria-hidden="true">

                                        <path
                                            d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z">
                                        </path>

                                        <circle cx="16.5" cy="7.5" r=".5" fill="currentColor">
                                        </circle>
                                    </svg>
                                </span>

                                <input [class]="loginForm.get('password')?.invalid &&
                                             loginForm.get('password')?.touched
                                                ? 'border-rose-500'
                                                : 'border-slate-200'"
                                    class="w-full rounded-xl border bg-slate-50 py-3 ps-11 pe-4 text-sm text-slate-800 outline-none transition focus:bg-white focus:ring-0"
                                    type="password" [placeholder]="'AUTH.LOGIN.PASSWORD_PLACEHOLDER' | translate"
                                    name="password" formControlName="password">
                            </div>

                            @if (
                            loginForm.get('password')?.invalid &&
                            loginForm.get('password')?.touched
                            ) {
                            <p class="mt-1 font-semibold text-rose-600">

                                @if (loginForm.get('password')?.hasError('required')) {
                                <span class="block">
                                    {{ 'VALIDATION.PASSWORD.REQUIRED' | translate }}
                                </span>
                                } @else if (
                                loginForm.get('password')?.hasError('pattern')
                                ) {
                                <span class="block">
                                    {{ 'VALIDATION.PASSWORD.PATTERN' | translate }}
                                </span>
                                }

                            </p>
                            }
                        </div>

                        <button
                            class="w-full rounded-xl py-3 text-base font-extrabold text-white transition disabled:opacity-60 bg-main-color hover:bg-main-color disabled:cursor-not-allowed">

                            {{ 'AUTH.LOGIN.SUBMIT' | translate }}

                            @if (loading) {
                            <i class="fa-solid fa-spinner animate-spin"></i>
                            }
                        </button>

                        @if (errorMsg) {
                        <p class="mt-1 font-semibold text-rose-600 border bg-rose-100 px-4 py-1.5 rounded-xl">
                            {{ errorMsg }}
                        </p>
                        }

                        <button class="text-main-color text-md hover:underline block mx-auto font-semibold">
                            {{ 'AUTH.LOGIN.FORGOT_PASSWORD' | translate }}
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>