/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

body {
    font-family: 'SN Pro', sans-serif;
}

/*Components*/
@layer components {
    .navbar-li {
        @apply flex items-center justify-center lg:gap-2 gap-8 lg:border-0 lg:pb-0 border-b-[1px] border-b-dark/30 pb-3;
    }
}

/*Container*/
@utility container {
    margin-inline: auto;
}

/* Add variables  to tailwind*/
@theme {
    --color-main-color: #00298D;
    --color-second-color: #F0F2F5;

}